{% autoescape off %}
 
Hi {{user.username}}!

<br>

We received a request to change the password for your account.

If you made this request, please click the button below to update your password:

<p style="text-align: center;">
    <a href="{{domain}}"
    style="display: inline-block; padding:12px 14px; background-color: #007bff; color: white; border-radius: 8px; text-decoration: none;">Reset Password</a>    
</p>

<br>

If you did not update your password, please secure your account immediately by resetting your password [link to reset] and contacting our support team.

<br>

Thank you,
<br>
<b style="font-weight: bold;">Shortne</b> Support Team.

{% endautoescape %}
  
